<body>
<div class="container">

<a href="locations"><img class="about" src="http://www.healthista.com/wp-content/uploads/2015/04/Tanyas_11.jpg"></a>
<br>
<h3><strong>about us</strong></h3>
<p>flora is a vegan / raw food restaurant that serves uncooked, unprocessed dishes that have not been exposed to temperatures over 140 degrees fahrenheit and do not contain any animal products or by-products. 
<br><br>
we always use fresh, local ingredients without the use of synthetic pesticides, chemical fertilizers, or chemical food additivies. 
<br><br>
<strong>100% real. 100% fresh.</strong>
</p>

<br><br>

<%= link_to "menu", menus_url %>  /  <%= link_to "locations", locations_url %>


</div>
</body>