<body>

<div class="container">

<center>
<h4><strong>vegan</strong> / <strong>raw food</strong> restaurant</h4>
<br>

<img src="http://www.sparklingbingoblog.com/wp-content/uploads/2013/08/Interesting-Ways-to-make-your-Raw-Food-Delicious.jpg" class="home"><img src="http://lifecdn.dailyburn.com/life/wp-content/uploads/2014/04/Collard-Wraps_PS_2A.jpg" class="home"><img class="home" src="https://coconutandberriesdotcom.files.wordpress.com/2013/10/dsc_0555.jpg"><br>
</center>




</div>
</body>
