<h1>our menu</h1>

    <div class="container">
        <div class="row">
                <% @menus.each do |menu| %>
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <h2><%= menu.entree %></h2>
                            <br>
                            <div class="caption">
                                <%= image_tag menu.image, class: "resized" %>
                                <br><br>
                                <p><%= menu.description %></p>
                                <h3>$<%= menu.price %></h3>
                            </div>
                        </div>
                    </div>
                <% end %>
        </div>
    </div>