<h1>locations</h1>
  <center>
    <div class="container">
      <div class="row">
        <% @locations.each do |location| %>
          <div class="col-md-4">
            <div class="thumbnail"> 
              <div class="caption">
                <strong><%= location.street %></strong><p><%= location.city_state_zip %><br><%=location.phone %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<br>
    <div id="map-canvas">
    </div>

    </div>
  </center>


<!-- <br> 
<center>
<%= link_to 'want a location in your area? give us a shout', new_location_path, class: "btn btn-primary" %>
</center> 
<br>
<br> -->